@use 'src/styles/colors';

.layout {
  height: 100vh;

  .main {
    min-height: 100%;
  }
}

.otherColor {
  background-color: colors.$SBLACK;
}

.pageIntro {
  padding: 4em 0;
  margin: 0 200px;
}

.pageMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  padding: 2em 0 0;
  margin: 0 300px;
}
