@use 'src/styles/colors';

.tagPosts {
  min-height: 500px;
  margin-bottom: 60px;

  h1 {
    .title {
      margin-right: 15px;
    }

    .titleCount {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
      line-height: 1;
      color: colors.$PUPLE;
      background-color: colors.$WHITE;
      transition: 0.2s ease-out;
      box-shadow: 0 0 5px 0 rgb(0 0 0 / 5%);

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$PUPLE;
      }
    }
  }

  .category {
    padding-top: 15px;
    padding-bottom: 50px;

    display: flex;
    li {
      margin-right: 15px;
      height: 35px;
      border: none;
      border-radius: 3px;
      background-color: rgb(226, 232, 240);
      color: black;
      padding: 2px 15px;
      cursor: pointer;
      transition: 0.2s ease-out;
      word-break: keep-all;

      a {
        width: 100%;
        height: 100%;
      }

      &:hover {
        color: colors.$WHITE;
        background-color: colors.$PUPLE;
      }
    }
  }

  .postList {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, minmax(100px, 1fr));

    row-gap: 1.2rem;
    column-gap: 1.2rem;

    li {
      // 반응형에서 값을 바꾸도록 하자
      height: 400px;
      border: none;
      border-radius: 15px;
      background-color: #fff;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.2s !important;

      &:hover {
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05);
        transform: translateY(-15px);
      }

      img {
        padding: 10px;
        width: 100%;
        height: 200px;
      }

      h2 {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        color: black;
      }

      .postMeta {
        text-align: right;
        margin-bottom: 20px;
        color: black;

        span {
          margin-right: 5px;
          font-size: 0.7em;
          color: black;
        }
      }

      .postContents {
        padding: 0 15px;
        height: 150px;
        overflow: hidden;
        word-break: break-all;
        color: black;
        font-size: 0.8em;
      }
    }
  }

  .pageNationContainer {
    margin-top: 50px;
  }
}
