@use 'src/styles/colors';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: colors.$WHITE;
  word-break: keep-all;
}

html,
body {
  font-family:
    'Noto Sans KR',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 20px;
  color: colors.$WHITE;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
