@use 'src/styles/colors';

@keyframes bounce {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 7px, 0);
  }
}

@keyframes fadeIn {
  from {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.head {
  margin: 2em 1em;

  & strong {
    color: colors.$PUPLE;
  }
}

.category {
  min-height: 18em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  border-bottom: 1px solid #e6e6e6;

  & img {
    margin-top: 2em;
    margin-left: 1em;
  }

  & h2 {
    padding: 0.5em;
    background-color: colors.$PUPLE;
  }

  & h3 {
    margin: 0.4em 0.8em;
    color: colors.$PUPLE;
  }

  & li {
    margin-left: 0.8em;
    list-style: disc inside;
  }

  .date {
    font-weight: bold;
    color: colors.$GRAY;
  }
}

.skills {
  padding: 10px 20px;
}

.content {
  display: flex;
  padding: 0.6em;
  margin: 0;
}

.linkPage {
  font-style: italic;
  color: colors.$LINK;
  text-decoration: none;
}

.contentIntroduce {
  margin: 0.8em 2em;
}

.container {
  padding: 1.4em;
  margin-top: 1.4em;
  border: 2px solid rgb(33, 150, 243);
  border-radius: 20px;

  p {
    margin-top: 1em;
    line-height: 1.5em;
  }
}

.certificationContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & div {
    margin: 10px;
  }
}

.mottosList {
  & li {
    line-height: 2.5em;
  }
}

.addon {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
  margin-bottom: 5em;

  .listMenu {
    width: 80px;
    height: 80px;
    cursor: help;
    animation: bounce 1.5s ease-out infinite;

    svg {
      background-color: black;
      outline: 5px solid black;
      fill: colors.$PUPLE;
    }
  }

  .openMenu {
    animation: none;
  }

  .itemMenu {
    visibility: hidden;
  }

  .visibleItem {
    animation: fadeIn 2s ease forwards;
  }
}

.codesoom {
  font-style: italic;
  color: colors.$LINK;
  text-decoration: none;
}
